<!--
 * @Description: 
 * @Author: Tong Chen
 * @Date: 2022-08-26 23:56:45
 * @LastEditTime: 2022-08-27 00:00:05
 * @LastEditors:  
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <style>
    /* 以下两个都选不到span文字, 都是继承属性 */
    /* 因此看span文字最后继承到谁的属性, 在p标签中已经将从.father中继承的pink背景色改为red了, 因此span继承到的也是red */
    div p {
      background-color: red;
    }

    .father {
      background-color: pink;
    }
  </style>
</head>

<body>
  <div class="father">
    <p class="son">
      <span>文字</span>
    </p>
  </div>
</body>

</html>